/**
 * Variables
 */
$white: #ffffff;
$black: #000000;

$dark: #303030;
$gray: #919191;
$light-gray: #e0e0e0;
$very-light-gray: #f8f9fc;

$theme-color: #f6a520;
$theme-color2: #2672d3;
$theme-color-background: #facc2b;
$text-color: #303030;

$border-color: #929292;
$input-color: #313131;

$error-color: #d42c2c;

$font-primary: 'Titillium Web', sans-serif;
$font-decorated: 'Oswald', sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 0px;
