.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  transition: all 250ms ease;
  z-index: 10;

  &--fixed {
    padding: 5px 0;
  }

  &__logo {
    width: 280px;
    left: 0;
    flex-shrink: 0;
    position: relative;
    transition: all 250ms ease;

    img,
    svg {
      max-width: 100%;
      height: auto;
    }

    @media (width <= 991px) {
      position: static;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
  }

  &__social-media {
    margin: 0 0 0 30px;

    li {
      a {
        width: 25px;
        height: 25px;

        img {
          filter: brightness(0) invert(1);

          @media (width <= 991px) {
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    @media (width <= 499px) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 0 30px;

    @media (width <= 1199px) {
      display: none !important;
    }
  }

  &__button {
    margin: 0;
    border: 2px solid $theme-color;

    &:hover {
      border: 2px solid $theme-color;
      color: $white;
      background: $theme-color;
    }

    &--first {
      background: transparent;
      border: 2px solid $theme-color;
      color: $theme-color;
      padding: 16px 20px;
    }

    &--second {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 12px 20px;

      &::before {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        margin: 0;
        background: url('./images/user-icon.png') center/contain no-repeat;
        filter: brightness(0) invert(1);
      }

      &:hover {
        &::before {
          display: block;
        }
      }
    }

    @media (width <= 599px) {
      display: none;
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    > li {
      margin: 0;
      position: relative;

      > a {
        font-size: 15px;
        font-weight: 600;
        padding: 5px;
        color: $text-color;
        transition: all 300ms ease;
        text-transform: uppercase;

        &::before {
          content: '';
          width: calc(100% - 10px);
          height: 2px;
          left: 5px;
          bottom: 0;
          background: $theme-color;
          display: block;
          position: absolute;
          transition: all 300ms ease;
          transform: scale(0, 1);
          transform-origin: center;

          @media (width <= 1199px) {
            display: none;
          }
        }

        &:hover {
          color: $theme-color;

          &::before {
            transform: scale(1, 1);
          }

          + ul.sub-menu {
            @media (width >= 1200px) {
              transform: scale(1);
            }
          }
        }

        @media (width <= 1199px) {
          padding: 10px 0;
          color: $text-color;
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      &:last-child {
        a {
          padding: 5px 0 5px 5px;
        }
      }

      &.menu-item-has-children {
        > a {
          @media (width >= 1200px) {
            padding: 5px 5px 48px;
            margin: 0 0 -43px;
          }
        }
      }

      > ul.sub-menu {
        display: block;
        min-width: 220px;

        li {
          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            display: block;
            padding: 8px 15px;
            line-height: 1;
            transition: all 300ms ease;

            &:hover {
              background: $very-light-gray;
            }

            @media (width <= 1199px) {
              font-size: 15px;
            }
          }

          &.special {
            a {
              color: $white;
              background: #b67813;
              // background: $theme-color2;
              // color: $white;
            }
          }
        }

        /* submenu other styles */
        &:hover {
          transform: scale(1);
        }

        &--fixed {
          @media (width >= 1200px) {
            top: 56px;
          }
        }

        @media (width >= 1200px) {
          transform-origin: top;
          transform: scale(1, 0);
          transition: all 350ms ease;
          position: absolute;
          top: 51px;
          background: $theme-color;
          padding: 0;
          left: 5px;
          z-index: 10;
        }

        @media (width <= 1199px) {
          padding: 12px 0 20px;
          background: $theme-color;
          display: none;
        }
      }

      @media (width <= 1199px) {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }

    @media (width >= 1200px) {
      transition: all 350ms ease-in-out;
    }

    @media (width <= 1199px) {
      flex-direction: column;
      background: $white;
      color: $text-color;
      position: absolute;
      top: calc(100% - 2px);
      display: none;
      z-index: 10;
      left: rem-calc(-15);
      width: calc(100% + 30px);
      padding: 25px 0 30px;
    }
  }

  &__cart-icon {
    position: relative;
    margin: 0 10px 0 30px;

    img,
    svg {
      max-width: 40px;
      display: block;
      position: relative;
      z-index: 1;

      /* temporary styles */
      filter: brightness(0);
      height: 40px;
      width: 40px;
    }

    // &--subpage {
    //   img {
    //     filter: brightness(0);
    //   }
    // }

    span {
      position: absolute;
      right: -13px;
      top: -5px;
      z-index: 2;
      width: 22px;
      height: 22px;
      color: $white;
      background: $theme-color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 15px;
      border-radius: 50%;
      transition: all 300ms ease;

      &.active {
        animation: pulse 700ms forwards ease-in-out;
      }
    }
  }

  @media (width <= 991px) {
    padding: 10px 0;
    min-height: 65px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
  }
}
