.single-blog-post {
  padding: 60px 0 0;
  overflow: hidden;

  &__image {
    width: 100%;
    margin: 0 0 30px;
  }

  &__content {
    > .default-block.container,
    .container {
      margin: 25px 0 0;
    }

    h2 {
      margin: 0;
    }

    ul,
    ol {
      margin: 20px 0 0;

      .default-block.container,
      .container {
        margin: 0;
      }

      li {
        margin: 0;
        display: block;
        padding: 0 0 0 18px;
        position: relative;

        &::before {
          display: block;
          margin: 0;
          position: absolute;
          left: 0;
        }

        strong {
          width: auto;
        }

        @extend .paragraph;
      }
    }

    ul {
      li {
        &::before {
          content: '•';
          font-size: 23px;
          top: -4px;
        }
      }
    }

    ol {
      counter-reset: li-counter;

      li {
        counter-increment: li-counter;

        &::before {
          content: counter(li-counter) '.';
        }
      }
    }
  }

  @media (width <= 991px) {
    padding: 40px 0 0;
  }
}
