.button {
  border: 1px solid $theme-color;
  padding: 15px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background: $theme-color;
  color: $white;
  transition: all 300ms ease;
  border-radius: $theme-border-radius !important;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
  min-width: 120px;
  line-height: 1 !important;
  position: relative;
  overflow: hidden;
  font-family: $font-decorated;

  &:hover {
    color: $white;
    border: 1px solid $theme-color;
    background: $theme-color;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      transition: none;
      animation: mmpuu 1s forwards;
    }
  }

  @keyframes mmpuu {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  &--checkout,
  &--continue-shopping,
  &--update-cart {
    min-width: 184px;
    text-align: center;
  }

  &--checkout {
    margin: 20px 0 0;
  }

  &--continue-shopping,
  &--update-cart {
    margin: 10px 0 0;
    border: 1px solid $text-color;
    background: transparent;
    color: $text-color;

    &:hover {
      background: $theme-color;
      border: 1px solid $theme-color;
    }

    &::after {
      display: none;
    }
  }

  &--ghost {
    background: transparent;
    border: 1px solid $text-color;
    color: $text-color;
  }

  &--inactive {
    background: $light-gray;
    border: 1px solid $very-light-gray;
    color: $gray;
    pointer-events: none;
    cursor: context-menu;

    &:hover {
      background: $light-gray;
      border: 1px solid $very-light-gray;
      color: $gray;
    }
  }

  &--full-width {
    display: block;
    width: 100%;
    padding: 30px 25px 31px;
    font-size: 19px;
  }

  &.single_add_to_cart_button {
    margin: 0;
    height: 48px;
  }

  &.acf-button {
    background: #f6f7f7 !important;
    padding: 0 10px !important;
    color: #2271b1 !important;
    font-size: 13px !important;
    line-height: 2.15384615 !important;
    border: 1px solid #2271b1 !important;
  }
}

.added_to_cart {
  display: none !important;
}
