.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 99999;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 150px;
    height: 100px;
    
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}