.prev-and-next-posts {
  display: flex;
  margin: 40px 0 0;

  &__item {
    display: flex;
    border: none;
    border-radius: $theme-border-radius;
    position: relative;
    flex-wrap: wrap;
    padding: 0;
    width: 50%;

    &::before {
      width: 163px;
      height: 61px;
      background: white;
      position: absolute;
      bottom: rem-calc(-3);
      content: '';
      display: block;
      z-index: 0;
    }

    &:first-child {
      margin: 0 10px 0 0;
      justify-content: flex-start;

      &::before {
        left: rem-calc(-3);
      }
    }

    &:nth-child(2) {
      margin: 0 0 0 10px;
      justify-content: flex-end;

      .prev-and-next-posts__wrapper {
        flex-direction: row-reverse;
      }

      .prev-and-next-posts__image {
        padding: 0 0 0 15px;
      }

      .prev-and-next-posts__content {
        text-align: right;
      }

      .prev-and-next-posts__title {
        text-align: right;
      }

      &::before {
        right: rem-calc(-3);
      }
    }

    &--blank {
      display: none;
    }
  }

  &__link {
    width: 100%;
    margin: 0 0 15px;

    a {
      color: $dark;
      font-size: 15px;
      position: relative;

      &:hover {
        color: $dark;
      }

      &::before {
        top: 5px;
        position: absolute;
        content: '';
        display: block;
        width: 5px;
        height: 8px;
        background: red;
        z-index: 1;
      }
    }

    &--prev {
      a {
        padding: 0 0 0 15px;

        &::before {
          left: 0;
          transform: rotate(180deg);
        }
      }
    }

    &--next {
      text-align: right;

      a {
        padding: 0 15px 0 0;

        &::before {
          right: 0;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__image {
    width: 33.33%;
    padding: 0 15px 0 0;
    height: 115px;
    flex: 0 1 130px;
    position: relative;
    z-index: 1;

    img {
      border-radius: $theme-border-radius;
    }
  }

  &__image-link {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0;
  }

  &__content {
    width: 66.66%;
    padding: 0;
    position: relative;
    z-index: 1;

    span {
      display: inline-block;
      position: relative;
      padding: 0 5px 0 0;
      margin: 10px 0 0;
      line-height: 1;
      color: $dark;
      font-size: 13px;

      &::after {
        top: 0;
        right: 0;
        position: absolute;
        display: block;
        content: '';
        width: 1px;
        height: 100%;
        background: $dark;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }

    p {
      font-size: 13px;
      margin: 5px 0 0;
      line-height: 1.35;
    }
  }

  &__title {
    font-size: 16px;
    color: $dark;
    font-weight: 500;
    margin: 5px 0 0;
    text-align: left;
    display: block;
    min-height: 38px;

    &:hover {
      color: $dark;
    }
  }

  &--no-prev {
    justify-content: flex-end;
  }

  &--no-next {
    justify-content: flex-start;
  }

  .button {
    max-height: 49px;
  }
}
