.social-media {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0 20px;
  position: relative;

  &::before {
    display: block;
    content: 'Obserwuj nas:';
    @extend .paragraph;
    top: 0px;
    color: $white;
    margin: 0;
  }
  
  // @media(max-width: 767px) {
  //   justify-content: center;
  // }

  a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 25px;
    height: 25px;

    img {
      filter: brightness(0) invert(1);
    }
  }
}