.contact {
  width: 100%;
  position: relative;

  &--background {
    background: $very-light-gray;
  }

  &__details {
    width: 100%;
    display: flex;
    gap: 15px;
    margin: 3px 0 0;

    @media (width <= 800px) {
      flex-wrap: wrap;
    }
  }

  &__info {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 17px 0 0;

      @extend .h4;
    }

    p {
      margin: 10px 0 0;

      br {
        display: none;
      }
    }

    a {
      margin: 10px 0 0;
      display: block;
      font-weight: 500;
      font-size: 15px;

      &:last-of-type {
        margin: -5px 0 0;
      }

      @extend .paragraph;
    }

    @media (width <= 800px) {
      width: auto;
      max-width: calc(50% - 7.5px);
    }
  }

  &__image {
    width: 100%;
    max-width: 230px;
    height: 230px;

    filter: brightness(0.96);
  }

  &__bottom-content {
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid $light-gray;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .h4;
    }

    * {
      &:first-child {
        margin: 0;
      }
    }
  }

  &__form {
    margin: 3px 0 0;
    padding: 50px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
    background-color: $white;

    form {
      .gform_body {
        .gform_fields {
          grid-gap: 25px;

          > div {
            width: 100%;

            input {
              line-height: 1 !important;
            }

            textarea {
              height: 181px !important;
            }

            .ginput_recaptcha.gform-initialized {
              margin: 0 0 10px;
            }
          }

          .gfield {
            &.gfield--type-consent {
              margin: -20px 0 0;
            }
          }

          p,
          label {
            margin: 0;
            font-size: 15px;
            color: $input-color;

            a {
              color: $theme-color;
              text-decoration: underline;
              font-weight: 400;
            }
          }

          // if you want to have no labels
          .gfield_label {
            display: none;
          }

          fieldset {
            margin: 0;
            border: none !important;
          }
        }
      }

      .gform_footer {
        margin: 15px 0 0 !important;
        text-align: right;
        display: block !important;

        input {
          border-radius: $theme-border-radius !important;
        }

        @media (width <= 767px) {
          text-align: center;
          margin: 25px 0 0 !important;
        }
      }
    }

    .gform_confirmation_message {
      @extend .paragraph;
    }

    @media (width <= 767px) {
      margin: 30px 0 0;
    }
  }
}
