.cta {
  width: 100%;
  text-align: center;
  background-color: $theme-color;
  position: relative;

  &--background {
    background: url('./images/cta-background2.jpg') center/cover no-repeat;
  }

  &--subpage {
    margin: 0 0 -80px;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    overflow: hidden;

    img {
      transition: all 350ms ease;
      object-position: bottom right;
    }

    &--overlay {
      &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba($theme-color, 0.9);
      }
    }
  }

  &__wrapper {
    padding: 85px 0 90px;
    position: relative;
    z-index: 2;

    > div {
      display: none;
    }
  }

  &__subtitle {
    margin: 10px 0 0;
  }

  &__title,
  &__subtitle,
  p {
    color: $text-color;
  }

  p {
    max-width: 750px;
    margin: 20px auto 0;
    color: $text-color;

    a {
      color: $text-color;
    }
  }

  &__button {
    margin: 35px 0 0;
    background: $text-color;
    color: $white;
    border: 2px solid $text-color;

    &:hover {
      background: $text-color;
      color: $white;
      border: 2px solid $text-color;
    }
  }

  &--started {
    img {
      animation: ctaAnimation 8s ease-out forwards;
    }
  }

  /* overwrite mailchimp newsletter form only in this section */

  .mailchimp-newsletter__form {
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    input[type='email'] {
      min-width: 280px;
      text-align: center;
      height: 51px;

      @media (width <= 767px) {
        min-width: 150px;
      }
    }

    input[type='submit'] {
      background: $text-color;
      border: 1px solid $text-color;

      &:hover {
        background: $text-color;
        border: 1px solid $text-color;
      }

      @extend .button;
    }
  }
}

@keyframes ctaAnimation {
  0% {
    transform: scale(1);
  }

  40% {
    filter: blur(0);
  }

  100% {
    transform: scale(1.2);
  }
}
