.five-boxes {
  width: 100%;

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    width: auto;
    min-width: 220px;
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__image {
    z-index: 1;
  }

  &__overlay {
    z-index: 2;
    background: $dark;
    opacity: 0.92;
  }

  &__content {
    position: relative;
    z-index: 3;

    * {
      color: $white;
    }
  }

  &__link {
    z-index: 4;
  }
}
