.four-columns {
  width: 100%;
  margin: -30px 0 0;

  &--background {
    background: $very-light-gray;
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__row {
    @media (width <= 991px) {
      flex-direction: column-reverse;
    }
  }

  &__item {
    width: 100%;
    height: calc(100% - 30px);
    margin: 30px 0 0;
    padding: 20px;
    border-radius: 17px;
    position: relative;
    box-shadow: 0 3px 20px -1px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (width <= 767px) {
      margin: 30px auto 0;
      height: auto;
    }
  }

  &__image {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;

    &--bigger {
      height: 350px;
    }

    &--smaller {
      height: 200px;
    }

    img {
      transform-origin: center;
      border-radius: 15px;
      filter: brightness(0.98) contrast(1.03);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 350px);

    p {
      font-size: 15px;
    }

    @media (width <= 767px) {
      height: auto;
    }
  }

  &__title {
    margin: 20px 0 0;
    max-width: 410px;

    &:hover {
      color: $dark;
    }

    @extend .h3;
  }

  p {
    @media (width <= 768px) {
      margin: 16px 0 0;
    }
  }

  &__price {
    margin: 20px 0 0;

    span {
      color: $theme-color;

      @extend .h4;
    }

    @extend .paragraph;
  }

  @media (width <= 767px) {
    margin: -30px 0 0;
  }
}
