.map {
  width: 100%;
  position: relative;
  margin: 0 0 -80px;

  &--background {
    background: $very-light-gray;
  }

  &__content {
    height: 450px;
    width: 100%;

    iframe {
      width: 100% !important; // override any inline styles from iframe
      height: 100% !important;
      display: block;
    }

    @media (width <= 767px) {
      height: 300px !important;
    }
  }
}
