.subpage-hero {
  width: 100%;
  position: relative;

  &--background {
    background: $dark;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background: $dark;

    img {
      object-position: center left;
      filter: brightness(0.9);
      display: none;
    }

    &--plain {
      background: $dark;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
    background: linear-gradient(
      61deg,
      rgb(37 37 37 / 40%) 0%,
      rgb(39 39 39 / 50%) 23%,
      rgb(40 40 40 / 40%) 48%,
      rgb(50 50 50 / 40%) 89%,
      rgb(60 60 60 / 35%) 100%
    );
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 35px 0 40px;

    @media (width <= 767px) {
      padding: 30px 0;
    }
  }

  &__title {
    color: $white;

    &--white {
      color: $white;
    }

    @extend .h2;
  }
}
