.subpage-hero {
  width: 100%;
  position: relative;

  &--background {
    background: $dark;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background: $dark;

    img {
      object-position: center left;
      filter: brightness(0.9);
      display: none;
    }

    &--plain {
      background: $dark;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(
      61deg,
      rgba(37, 37, 37, 0.4) 0%,
      rgba(39, 39, 39, 0.5) 23%,
      rgba(40, 40, 40, 0.4) 48%,
      rgba(50, 50, 50, 0.4) 89%,
      rgba(60, 60, 60, 0.35) 100%
    );
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 35px 0 40px;

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &__title {
    @extend .h2;
    color: $white;

    &--white {
      color: $white;
    }
  }
}
