.text-with-image {
  width: 100%;
  text-align: left;
  position: relative;

  &--background {
    background: $very-light-gray;
  }

  &--padding {
    padding: 80px 0 85px;
  }

  &__row {
    align-items: center;

    &--reverse {
      flex-direction: row-reverse;
    }

    &--single {
      img {
        @media (width <= 767px) {
          margin: 0 0 30px;
        }
      }

      @media (width <= 767px) {
        flex-direction: column-reverse !important;
      }
    }

    &__picture {
      width: 100%;
      height: 385px;

      img {
        object-position: top;
        filter: brightness(0.98);
      }

      &--small {
        height: 270px;

        @media (width <= 767px) {
          margin: 30px 0 0;
          height: 380px;
        }

        @media (width <= 510px) {
          height: 300px;
        }
      }

      &--big {
        height: 450px;

        @media (width <= 767px) {
          height: 380px;
        }

        @media (width <= 510px) {
          height: 300px;
        }
      }

      @media (width <= 767px) {
        margin: 30px 0 0;
        height: 380px;
      }

      @media (width <= 510px) {
        height: 300px;
      }
    }

    &__title {
      color: $text-color;
      font-size: 30px;

      @extend .h3;
    }

    &__subtitle {
      margin: 10px 0 0;
      color: $text-color;

      @extend .h4;
    }

    &__button {
      margin: 30px 0 0;
      background: $text-color;
      border: 1px solid $text-color;

      &:hover {
        background: $text-color;
        border: 1px solid $text-color;
      }
    }
  }
}
